.cartAmount {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cartAmount-button {
    width: 30px;
    height: 30px;
    min-height: 30px;
}

.cartAmount-p {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}