#msg {
    max-width: 240px;
    max-height: 100px;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    transition: top 1s;
    opacity: 80%;
}

.success {
    background: springgreen;
}

.error {
    background: red;
    color: white;
}