body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-bg: #8A92B2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  --bs-btn-bg: #454A75 !important;
  --bs-btn-border-color: #454A75 !important;
  --bs-btn-hover-bg: #423A4F !important;
  --bs-btn-hover-border-color: #413443 !important;
  --bs-btn-active-bg: #413443 !important;
  --bs-btn-active-border-color: #412E37 !important;
  --bs-btn-disabled-bg: #454A75 !important;
  --bs-btn-disabled-border-color: #454A75 !important;
}

.btn-outline-secondary {
  --bs-btn-color: #454A75 !important;
  --bs-btn-bg: white !important;
  --bs-btn-border-color: #454A75 !important;
  --bs-btn-hover-bg: #454A75 !important;
  --bs-btn-hover-border-color: #454A75 !important;
  --bs-btn-active-bg: #454A75 !important;
  --bs-btn-active-border-color: #454A75 !important;
  --bs-btn-disabled-color: #454A75 !important;
  --bs-btn-disabled-border-color: #454A75 !important;
}

.rating-stars {
  color: dimgray;
  height: 100%;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
}

.mask {
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  mask-repeat: no-repeat;
}

.stretch-column {
  grid-column: 1 / -1;
}

.table-1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  .table-lg-2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .table-xl-3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}